accelerate
bitsandbytes
blinker
certifi
charset-normalizer
cryptography
dbus-python
diffusers
distro
filelock
fsspec
httplib2
huggingface-hub
idna
importlib-metadata
jeepney
Jinja2
keyring
launchpadlib
lazr.restfulclient
lazr.uri
MarkupSafe
more-itertools
mpmath
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
packaging
pillow
protobuf
psutil
Pygments
PyGObject
PyJWT
pyparsing
python-apt
PyYAML
regex
requests
safetensors
SecretStorage
sentencepiece
six
sympy
tokenizers
torch
tqdm
transformers
triton
typing_extensions
urllib3
wadllib
zipp
scikit-learn
matplotlib
tensorflow
autokeras
ipykernel